<!-- <div class="wrapper"> -->

<!-- <div class="page-header section-dark" style="background-image: url('assets/img/okta_blue_bg.png')"> -->
<!-- <h1><img src="assets/img/okta_japan_white_medium.png" alt="" class="responsive"></h1> -->

<div class="page-header" style="background-image: url('assets/img/lilac_back.png')">
  <!-- <div class="page-header" style="background-color: #00297A"> -->

  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center start">
    <div class="item userNameItem" fxFlex="0 0 90%">ようこそ <h1>{{this.OktaGetTokenService.strUserName}}</h1>
    </div>

    <div class="item">
      <div class="strCity">Tokyo</div>
      <div class="strLocalDate">{{ GetTimeService.strTokyoDate }}</div>
      <div class="strLocalTime">{{ GetTimeService.strTokyoTime }}</div>
    </div>

    <div class="item">
      <div class="strCity">San Francisco</div>
      <div class="strLocalDate">{{ GetTimeService.strSanFranDate }}</div>
      <div class="strLocalTime">{{ GetTimeService.strSanFranTime }}</div>
    </div>

    <div class="item">
      <div class="strCity">London</div>
      <div class="strLocalDate">{{ GetTimeService.strLondonDate }}</div>
      <div class="strLocalTime">{{ GetTimeService.strLondonTime }}</div>
    </div>
    
  </div>

  <!-- </div> -->